/* =============import google fonts =============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*================ basic css================= */
body {
    font-family: 'Poppins', sans-serif;
}

.custom-nav-text li a {
    color: gray;
}

.slider-img-first {
    background-image: url(images/cover/cover-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 100%;
}

.slider-img-sec {
    background-image: url(images/cover/cover-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 100%;
}

.slider-img-third {
    background-image: url(images/cover/cover-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 100%;
}